.AppScreen {
  &.StartBackground {
    width: 100vw;
    .Content{
      background: url('./images/startbackground.png');
      background-size: cover;
    }

    .StartLogo {
      padding-top: 4rem;
      margin: 0 auto;

      img {
        width: 130px;
      }

      text-align: center;

      .SubText {
        padding-top: 4.8rem;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-weight: normal;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        color: white;
      }
    }

  }

  .BottomOptions {
    margin-bottom: 0.5rem;
  }
}