/* Color palette */
$primary: #00568c;
$primarydark: #002e5e;
$primarylight: #4a82bc;
$secondary: #30a74f;
$secondarydark: #007723;
$alert: #f20b0b;
$secondarylight: #68d97d;
$progress: #fcab51;
$black: #0f0f0f;
$placeholder: #707070;
$disabled: #c7c7c7;
$textfield_bg: #ebebeb;
$bg: #f8f8f8;
$white: #ffffff;
$verified_bg: #e7f6ea;
$error_bg: #f6dfdf;